@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1:wght@500;600&family=Shippori+Mincho&display=swap');


/********************************************
* General
*********************************************/
html {
    font-size: 10px;
}

body {
    font-family: "Kosugi Maru", sans-serif;

}

section {
    padding: 67px;
}

.container {
    max-width: 1000px;
    width: 100%;
    background: white;
    padding: 60px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 0 20px gray;
}

.inner {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 10rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 5rem;
    margin-bottom: 30px;
}

h4 {
    font-size: 3rem;
}

h3, h4{
    font-family: 'M PLUS 1', sans-serif;
}

p {
    font-size: 2rem;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

.sdgs-title {
    width: 100%;
    margin-bottom: 30px;
}

.sdgs-list {
    width: 100%;
}

.sdgs-image {
    width: 350px;
    height: 240px;
    object-fit: cover;
}
.sdgs-icon {
    width: 80px;
}

/********************************************
* Header
*********************************************/
header {
    position: relative;
    font-family: "Shippori Mincho", serif;
}

header img {
    width: 100%;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

/********************************************
* Main
*********************************************/

/* Section1 */
#section1 {
    background: #FFFFCC;
    text-align: center;
}
#section1 p {
    width: 90%;
    margin: 0 auto;
}

/* Section2 */
#section2 {
    background: #D6FFFD;
    text-align: center;
}
#section2 h3 {
    font-size: 3rem;
}
#section2 p {
    width: 90%;
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Section3 */
#section3 {
    background: #E0FFDE;
}
#section3 h3 {
    text-align: center;
    margin-bottom: 60px;
}
.item-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}
.item-explain {
    max-width: 400px;
    width: 100%;
}
.item-explain h4 {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 12px;
}
.item-explain p {
    font-size: 1.6rem;
    line-height: 1.5em;
    margin-bottom: 12px;
}
.item-right {
    margin-right: 30px;
}
.item-left {
    margin-left: 30px;
}
.icon-button-inner {
    display: flex;
    justify-content: space-between;
}
.page-button-inner {
    display: flex;
    flex-direction: column;
    
}
.btn {
    background: white;
    font-size: 1.2rem;
    color: black;
    border-radius: 100vh;
    padding: 16px 50px;
    border: 1px solid #15FC06;
    transition: all .5s;
}
.btn:hover {
    background: #15FC06;
    color: white;
    transition: all .5s;
}
.btn:first-child {
    margin-bottom: 10px;
}

/* Summarize */
#summarize {
    background: #FFBCD1;
    text-align: center;
}
.summarize-inner {
    /*  */
}
#summarize p {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 130px;
}
.other-item-btn {
    background: white;
    font-size: 2rem;
    color: #FF417D;
    border-radius: 100vh;
    padding: 20px 100px;
    border: 1px solid #FF417D;
    transition: all .5s;
}
.other-item-btn:hover {
    background: #ff417d;
    color: white;
    transition: all .5s;
}

/********************************************
* Footer
*********************************************/
footer {
    background: #3E3E3E;
    color: white;
    text-align: center;
}
.link-icons {
    padding-top: 60px;
}
.link-icon {
    color: white;
    font-size: 2.5rem;
    margin: 0 20px 10px;
    transition: all .5s;
}
.link-icon:hover {
    opacity: .5;
    transition: all .5s;
}


/********************************************
* Responsive
*********************************************/

@media screen and (max-width: 1000px) {
    /* General */
    html {
        font-size: 8px;
    }
    h1 {
        margin-bottom: 10px;
    }

    /* Header */
    header {

    }
    /* Section2 */
    /* Section3 */
    /* Summarize */
    /* Footer */
}

@media screen and (max-width: 750px) {
    /* General */
    html {
        font-size: 5px;
    }
    .container {
        max-width: 1000px;
        width: 100%;
        background: white;
        padding: 40px 20px;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: none;
    }
    h1 {
        font-size: 7rem;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        margin-bottom: 15px;
    }
    p {
        line-height: 1.3em;
    }
    .sdgs-title {
        width: 100%;
        margin-bottom: 15px;
    }

    /* Section1 */
    section {
        padding: 30px 15px;
    }
    
    /* Section2 */
    /* Section3 */
    /* Summarize */
    /* Footer */
    footer {
        
    }
}